#countries {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
}

.country {
     border: 3px solid rgb(255, 252, 71);
     margin: 10px;
     border-radius: 10px;
     background-color: goldenrod;
     color: white;
     padding: 20px;
}